header {
  display: flex;
  align-items: center;
  justify-content: center;
}
.name {
  text-align: center;
  font-weight: bold;
  font-size: 60px;
  color: rebeccapurple;
}
.img {
  width: 150px;
  height: 150px;
  border-radius: 20px;
  margin-left: 50px;
}
.age {
  text-align: center;
  color: red;
}
.mail {
  text-align: center;
  color: red;
}
.phone {
  text-align: center;
  color: red;
}
.sec1 {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.skill {
  display: flex;
  list-style: none;
  padding-top: 10px;
}
.skill li {
  padding-left: 10px;
  text-decoration: none;
}
.sec2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.hobby {
  display: flex;
  list-style: none;
  padding-top: 10px;
}
.hobby li {
  padding-left: 10px;
  text-decoration: none;
}
.edu {
  text-align: center;
}
